test1/src/main/mule/test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e01f7672-e1cb-41b7-955c-8819371bb623" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test1Flow" doc:id="83b6f7b3-07b6-4a03-9ee3-b8915cc7f5a6" >
		<http:listener doc:name="Listener" doc:id="593a2f3e-81ff-4f67-bfcb-e9a780bdf27a" config-ref="HTTP_Listener_config" path="/api"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="7c324467-445c-4cb6-99c9-f0f4add038d7" />
	</flow>
</mule>
